/* 
 
 HEADER
 
 */

.header {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-top: 15px;
}

.header__links {
  display: flex;
  gap: 15px;
}
.header__links > a,
.header__right > a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.header__img {
  object-fit: contain;
  flex: 1;
  width: 90px;
  margin-right: 100px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__right > a {
  z-index: 0;
  position: relative;
}

.header__menuLinks {
  font-size: 24px;
  color: black;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.hidden__link {
  visibility: hidden;
}

/* 

MENU

*/

.menu {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 70px 20px 20px 20px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 280px;
  scrollbar-width: none;
}

/* 

MENU ITEM

*/

.menuItem {
  border-bottom: 1px solid #d0d1d2;
  text-align: left;
  cursor: pointer;
}

.menuItem > h4 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-bottom: 18px;
  cursor: pointer;
}

/* 

HEADER BLOCK

*/

.headerBlock {
  background: url("https://tesla.com/ns_videos/model-3-social.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.headerBlock__info {
  display: flex;
  flex-direction: column;
  height: 360px;
}

.headerBlock__infoText {
  text-align: center;
  flex: 1;
}

.headerBlock__infoText > h1 {
  color: #393c41;
  font-size: 38px;
  font-weight: 700;
}

.headerBlock__infoText > h4 {
  font-size: 15px;
  font-weight: 600;
  color: #5c5e62;
}

.headerBlock__infoText > h4 > span {
  padding-bottom: 4px;
  padding-top: 15px;
  border-bottom: 1px solid black;
  color: #393c41;
  cursor: pointer;
}

.headerBlock__infoText > h4 > span:hover {
  border-bottom-width: 2px;
  color: black;
}

.headerBlock__actions {
  margin-top: 330px;
  display: flex;
  gap: 20px;
}

.headerBlock__actions > button {
  width: 260px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  padding: 12px 0;
  outline: none;
  cursor: pointer;
}

.buttonPrimary {
  background-color: #393c41;
  color: white;
  opacity: 0.9;
}

.buttonSecondary {
  background-color: white;
  color: black;
  opacity: 0.9;
}

/* 

LOGIN

*/

.login,
.signup {
  padding: 25px;
  padding-top: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.loginHeader,
.signupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.loginLogo > a > img,
.signupLogo > a > img {
  object-fit: contain;
  width: 90px;
}

.loginLanguage,
.signupLanguage  {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 15px;
  transition: all 0.2s ease;
}

.loginLanguage:hover,
.signupLanguage:hover {
  background-color: #62626220;
}

.loginLanguage > span,
.signupLanguage > span {
  font-weight: 700;
}

.loginInfo,
.signupInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.loginInfo > h1,
.signupInfo > h1 {
  font-size: 40px;
  font-weight: 700;
  margin-left: -10px;
}

.signupInfo > h1 {
  margin-left: -50px;
}

.loginForm,
.signupForm {
  display: flex;
  flex-direction: column;
}

.loginForm > label, 
.signupForm > label {
  color: #5c5e62;
  font-size: 15px;
  font-weight: 700;
  padding-left: 20px;
  padding-bottom: 8px;
}

.loginForm > input, 
.signupForm > input {
  margin-bottom: 30px;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  outline: none;
  border-radius: 50px;
  padding: 12px 20px;
  color: #393c41;
  font-weight: 600;
}

.loginForm > input:focus,
.signupForm > input:focus {
  border: 1px solid #d6d6d6;
  transition: all .2s;
}

.loginDivider,
.signupDivider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.loginDivider > hr,
.signupDivider > hr {
  width: 40%;
  height: 0;
  opacity: 0.3;
}

.loginDivider > span,
.signupDivider > span {
  font-weight: 700;
  color: #5c5e62;
}

.primaryButton {
  width: 330px;
  background-color: #3e6ae1;
  border: none;
  padding: 12px;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-bottom: 30px;
  transition: all .4s;
}
.primaryButton:hover {
  background-color: #3457b1;
}

.secondaryButton {
  background-color: transparent;
  border: 3px solid #171a20;
  width: 100%;
  padding: 10px 40px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #171a20;
  font-weight: 800;
  cursor: pointer;
  transition: all .2s ease-in-out;
  outline: none;
}

.secondaryButton:hover {
  background-color: #171a20;
  color: white;
}

/* 

TESLA

*/

.teslaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  height: 8vh;
  color: white;
  background-color: #222;
}

.teslaLinks {
  display: flex;
  gap: 20px;
  align-items: center;
}

.teslaLinks > a,
.teslaLinksExtra > a {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  z-index: 0;
}
.teslaLinksExtra > a {
  padding-left: 150px;
}

.teslaLogo > a > img {
  object-fit: contain;
  width: 80px;
  filter: invert(1);
}

.teslaMenu {
  z-index: 2;
}

.tesla__menuLinks > a {
  color: black;
  font-size: 15px ;
}

.teslaAccountInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 140px;
  padding-bottom: 30px;
}

.teslaAccountPerson {
  font-size: x-large;
  font-weight: 700;
  text-transform: capitalize;
}

.teslaAccountInfo__right {
  display: flex;
  gap: 20px;
}

.teslaAccountInfo__right > a {
  color: #393c41;
  font-size: smaller;
  transition: all 0.2s;
  text-transform: capitalize;
}
.teslaAccountInfo__right > a:hover {
  color: black;
  font-weight: 700;
}

.teslaCar {
  display: grid;
  place-items: center;
  gap: 30px;
  padding-bottom: 40px;
}

/* 

CAR

*/

.car {
  display: grid;
  place-items: center;
  border-top: 1px solid #d0d1d2;
}

.carImg > img {
  object-fit: contain;
  width: 1000px;
}

.carModel {
  font-size: xx-large;
  font-weight: 700;
  margin-top: -180px;
  text-transform: capitalize;
}

.carActions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -40px;
}

.carActions > button {
  width: 200px;
  margin-bottom: 30px;
}

.carInfo {
  max-width: 350px;
  text-align: center;
  font-size: smaller;
  line-height: 1.5;
  font-weight: 700;
  color: #393c41;
}

.carInfo > span {
  color: #3e6be2;
  cursor: pointer;
}