
/* 
 
 HEADER
 
 */

.header {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-top: 15px;
}

.header__links {
  display: flex;
  gap: 15px;
}
.header__links > a,
.header__right > a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.header__img {
  object-fit: contain;
  flex: 1;
  width: 90px;
  margin-right: 100px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__right > a {
  z-index: 0;
  position: relative;
}

.header__menuLinks {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.hidden__link {
  visibility: hidden;
}

/* 

MENU

*/

.menu {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 70px 20px 20px 20px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 280px;
  scrollbar-width: none;
}

/* 

MENU ITEM

*/

.menuItem {
  border-bottom: 1px solid #d0d1d2;
  text-align: left;
  cursor: pointer;
}

.menuItem > h4 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-bottom: 18px;
  cursor: pointer;
}

/* 

HEADER BLOCK

*/

.headerBlock {
  background: url("https://tesla.com/ns_videos/model-3-social.jpg") no-repeat
    center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
}

.headerBlock__info {
    display: flex;
    flex-direction: column;
    height: 360px;
}

.headerBlock__infoText {
    text-align: center;
    flex: 1;
}

.headerBlock__infoText > h1 {
   color: #393c41;
   font-size: 38px;
   font-weight: 700;
}

.headerBlock__infoText > h4 {
    font-size: 15px;
    font-weight: 600;
    color: #5c5e62;
}

.headerBlock__infoText > h4 > span {
    padding-bottom: 4px;
    padding-top: 15px;
    border-bottom: 1px solid black;
    color: #393c41;
    cursor: pointer;
}

.headerBlock__infoText > h4 > span:hover {
    border-bottom-width: 2px;
    color: black;
}

.headerBlock__actions {
    margin-top: 330px;
    display: flex;
    gap: 20px;
}

.headerBlock__actions > button {
    width: 260px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    padding: 12px 0;
    outline: none;
    cursor: pointer;
}

.buttonPrimary {
    background-color: #393c41;
    color: white;
    opacity: 0.9;
}

.buttonSecondary {
    background-color: white;
    color: black;
    opacity: 0.9;
}